.callCenter {
    margin-top: 114px;
    margin-bottom: 98px;
}

.callCenter__inner {
    display: flex;
    align-items: stretch;

}

.callCenter__right {
    padding: 15px 126px 30px 32px;
    background: #F9F8F7;
    border-radius: 0px 20px 20px 0px;
}

.callCenter__box {
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.dark .callCenter__right {
    background-color: #3B4C54FF !important;
}


.dark .callCenter__right .callCenter__box {
    background-color: #021923 !important;
}

.callCenter__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: #0F1826;
    margin: 0 0 16px 0;
}

.dark .callCenter__title {
    color: #fff;
}

.callCenter__span {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #BA8D5B;
    margin: 0;
}

.callCenter__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #607987;
    margin: 0 0 32px 0;
}

.form__label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
    color: rgba(0, 0, 0, 0.35);
    margin-bottom: 6px;
}

.dark .form__label {
    color: #BA8D5BFF;
}

.form__inp {
    padding: 14px 17px;
    max-width: 368px;
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 100px;
    outline: none;
    margin-bottom: 16px;

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #C4C4C4;
    }
}

.callCenter__formText {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}


.dark .callCenter__formText {
    color: #fff;
}

.dark .callCenter__text {
    color: #fff;
}

.callCenter__mark {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #BA8D5B;
}

.form__btn {
    padding: 12px 0;
    max-width: 368px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    background: #BA8D5B;
    border-radius: 100px;
    outline: none;
    border: none;
}

.callCenter__img {
    border-radius: 15px 0px 0 15px;
}


@media only screen and (max-width: 1045px) {
    .callCenter__img {
        display: none;
    }

    .callCenter__right {
        padding: 45px;
    }
}

@media only screen and (max-width: 650px) {
    .callCenter__title {
        font-size: 20px;
        line-height: 40px;
    }

    .callCenter__text {
        font-size: 16px;
        line-height: 24px;
    }

    .form__btn {
        padding: 8px 0;
    }

    .callCenter__box {
        padding: 45px;
        background-color: #FFFFFF;
        border-radius: 16px;
    }
}