.hero__section {
    padding-top: 160px;
    padding-bottom: 70px;
    background: #F1F0EE;
    background-image: url("../../images/hero-img.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: calc(50% - -320px) calc(50% - -53px);
}

.dark .hero__section {
    background-color: #1E1E1E;
}

.hero__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.8px;
    color: #000000;
    margin: 0px;
}

.dark .hero__title {
    color: #fff;
}

.hero__spn {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.8px;
    color: #BA8D5B;
}

.hero__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.36px;
    color: #607987;
    margin: 0px;
}

.dark .hero__text {
    color: #fff;
}

.hero__box {
    width: 100%;
    max-width: 325px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero__btn {
    display: block;
    padding: 13px 45px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #BA8D5B;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .3s ease;

    &:hover {
        background-color: #fff;
        color: #0f1826;
        border: 1px solid #ba8d5b;
    }

    &:active {
        background: #BA8D5B;
        color: #FFFFFF;
    }
}

@media only screen and (max-width: 1250px) {
    .hero__section {
        padding-top: 100px;
        padding-bottom: 70px;
        background: #F1F0EE;
        background-image: url("../../images/hero-img.png");
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: 120% bottom;
    }
}

@media only screen and (max-width: 1090px) {
    .hero__section {
        padding-top: 100px;
        padding-bottom: 70px;
        background: #F1F0EE;
        background-image: url("../../images/hero-img.png");
        background-repeat: no-repeat;
        background-size: 70% 70%;
        background-position: 130% bottom;
    }
}

@media only screen and (max-width: 850px) {
    .hero__section {
        padding-top: 100px;
        padding-bottom: 70px;
        background: #F1F0EE;
        background-image: url("../../images/hero-img.png");
        background-repeat: no-repeat;
        background-size: 70% 70%;
        background-position: 130% bottom;
    }
}

@media only screen and (max-width: 730px) {
    .hero__section {
        padding-top: 100px;
        padding-bottom: 70px;
        background: #F1F0EE;
        background-image: url("../../images/hero-img.png");
        background-repeat: no-repeat;
        background-size: 0;
        background-position: 130% bottom;
    }
}

@media only screen and (max-width: 470px) {
    .hero__section {
        padding-top: 100px;
        padding-bottom: 70px;
        background: #F1F0EE;
        background-image: url("../../images/hero-img.png");
        background-repeat: no-repeat;
        background-size: 0;
        background-position: 130% bottom;
    }

    .hero__title {
        font-size: 24px;
        line-height: 36px;
    }

    .hero__spn {
        font-size: 24px;
        line-height: 36px;
    }

    .hero__text {
        font-size: 14px;
        line-height: 20px;
    }

    .hero__btn {
        display: block;
        padding: 8px 34px;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        background: #BA8D5B;
        border-radius: 100px;
        border: none;
        cursor: pointer;
        border: 1px solid transparent;
        transition: all .3s ease;

        &:hover {
            background-color: #fff;
            color: #0f1826;
            border: 1px solid #ba8d5b;
        }

        &:active {
            background: #BA8D5B;
            color: #FFFFFF;
        }
    }
}