.course__home{
    position: relative;
    &::before{
        position: absolute;
        width: 12px;
        height: 5px;
        background-image: url('../../images/right-icon.svg');
        top: 40%;
        left: 90px;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
    }
}
.home__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #C4C4C4;
}
.course__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #BA8D5B;
    margin-left: 30px;
}

.course__content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    margin-bottom: 24px;
}
.course__title{
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
    letter-spacing: -0.64px;
    color: #0F1826;
    margin: 0px;
}
.course__btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 16px 26px;
    background: #BA8D5B;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}
.programming__btn{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #000000b3;
    padding: 16px 26px;
    background: #F7F7F5;
    border-radius: 32px;
    border: none;
    margin-left: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .3s ease;
    &:hover{
        background-color: #fff;
        color: #0f1826;
        border: 1px solid #ba8d5b;
    }
}
.inp__box{
    position: relative;
    width: 100%;
    max-width: 350px;
    &::before{
        position: absolute;
        width: 20px;
        height: 20px;
        background-image: url('../../images/search-icon.svg');
        top: 30%;
        right: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '';
    }
}
.course__inp{
    width: 100%;
    max-width: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
    display: flex;
    align-items: center;
    padding: 15px 0px 15px 15px;
    background: #F7F7F5;
    border-radius: 100px;
    border: none;
    outline: none;
    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #757575;
    }
}


@media only screen and (max-width: 1024px) {
    .course__title{
        font-size: 28px;
    }
    .inp__box{
        max-width: 300px;
    }
    .course__inp{
        max-width: 300px;
    }
}

@media only screen and (max-width: 635px) {
    .course__content{
        display: block;
    }
    .course__title{
        font-weight: 700;
        font-size: 28px;
        line-height: 56px;
        letter-spacing: -0.56px;
        color: #0F1826;
        margin-bottom: 16px;    
    }
    .inp__box{
        max-width: 360px;
    }
    .course__inp{
        max-width: 360px;
    }
}


// lesson page start 


.lesson__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 72px;
    margin-bottom: 48px;
}
.lesson__item{
    width: 100%;
    max-width: 480px;
    padding: 24px 24px 30px 24px;
    background: #F9F8F7;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        box-shadow: 0 2px 16px 3px #0000001a;
    }
}
.lesson-card__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}
.lesson__img{
    display: block;
    margin: 0px auto;
}
.lesson__btn{
    display: inline-block;
    padding: 5px 12px 5px 12px;
    background: #D1D1D1;
    border-radius: 4px; 
    border: none;
}
.lesson__spn{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #BA8D5B;
}
.lesson__num{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #BA8D5B;
}
.lesson-hero__card{
    margin-top: 30px;
}
.lesson-card__box{
    width: 100%;
    max-width: 275px;
}
.lesson__title{
    display: inline-block;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.56px;
    color: #000000;
    margin: 0px;
}
.lesson__text{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    letter-spacing: -0.28px;
    color: rgba(0, 0, 0, 0.7);
}

@media only screen and (max-width: 1024px) {
    .lesson__item{
        max-width: 440px;
    }
    .lesson__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.48px;
        color: #000000;
    }
}

@media only screen and (max-width: 965px) {
    .lesson__list{
        display: block;
    }
    .lesson__item{
        max-width: 480px;
        margin: 0px auto;
        margin-bottom: 25px;
    }
    .lesson__title{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.48px;
        color: #000000;
    }
}

@media only screen and (max-width: 500px) {
    .lesson__list{
        display: block;
        margin-top: 40px;
    }
    .lesson__item{
        max-width: 358px;
        margin: 0px auto;
        margin-bottom: 25px;
    }
    .lesson__title{
        font-weight: 700;
        font-size: 22px;
        line-height: 29px;
        letter-spacing: -0.48px;
        color: #000000;
    }
    .lesson__btn{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
    }
}